<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <GenerateAppxPackageOnBuild>true</GenerateAppxPackageOnBuild>
    <AppxBundle>Never</AppxBundle>
    <AppxPackageDir>..\..\..\artifacts\windows\msix\</AppxPackageDir>
    <UapAppxPackageBuildMode>SideloadOnly</UapAppxPackageBuildMode>
  </PropertyGroup>
</Project>
